@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #110021, #120018);
    position: relative;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            // @include mobile {
            //     height: 50%;
            //     width: 100%;
            //     gap: 20px;
            //     align-items: center;
            //     text-align: center;
            // }

            h2 {
                color: rgb(237, 233, 241);
                letter-spacing: 10px;
                font-size: 25px;
                position: relative;
                text-transform: uppercase;
                animation: neon 1.5s infinite alternate;
            }

            h2::after {
                content: attr(data-reflect);
                position: absolute;
                top: 100%;
                /* Position it directly below the original text */
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleY(-0.5);
                /* Flip it vertically */
                opacity: 0.5;
                color: rgb(114, 0, 227);

            }

            @keyframes neon {
                from {
                    text-shadow:
                        0 0 5px rgba(114, 0, 227, 0.7),
                        0 0 10px rgba(114, 0, 227, 0.6),
                        0 0 15px rgba(114, 0, 227, 0.5),
                        0 0 20px rgba(114, 0, 227, 0.4),
                        0 0 25px rgba(114, 0, 227, 0.3),
                        0 0 30px rgba(114, 0, 227, 0.2);
                }

                to {
                    text-shadow:
                        0 0 10px rgba(114, 0, 227, 1),
                        0 0 20px rgba(114, 0, 227, 1),
                        0 0 30px rgba(114, 0, 227, 1),
                        0 0 40px rgba(114, 0, 227, 0.9),
                }
            }

            h1 {
                font-size: 88px;

                // @include mobile {
                //     font-size: 36px;
                // }
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }
            }

            img {
                width: 50px;
            }
        }
    }



    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -70px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

    .text-loop {
        font-weight: 600;
        font-size: 32px;
        display: flex;
        gap: 12px;
        color: white;
        line-height: 68px;

        // @media (max-width: 960px) {
        //     text-align: center;
        // }

        // @media (max-width: 640px) {
        //     font-size: 22px;
        //     line-height: 48px;
        //     margin-bottom: 16px;
        // }
    }

    .hi {
        font-size: 20px;

    }

    .span {
        color: white;
        cursor: pointer;
    }
}